openapi: 3.0.1
info:
  title: apaleo Platform Availability Rate Plan API
  description: Unified OpenAPI view of the apaleo API-first hotel property-management system. apaleo exposes its capabilities as a set of versioned REST APIs - Booking, Inventory, Rate Plan, Availability, Finance, and Settings - all served from https://api.apaleo.com and secured with OAuth 2.0 bearer tokens issued by the apaleo identity provider. Real-time events are delivered via the Webhook API at https://webhook.apaleo.com.
  termsOfService: https://apaleo.com/terms
  contact:
    name: apaleo Developer Support
    url: https://apaleo.dev
  version: v1
servers:
- url: https://api.apaleo.com
  description: apaleo Core API (Booking, Inventory, Rate Plan, Availability, Finance, Settings)
security:
- oauth2: []
tags:
- name: Rate Plan
  description: Rate plans, rates, services, and policies.
paths:
  /rateplan/v1/rate-plans:
    get:
      tags:
      - Rate Plan
      operationId: RateplanGetRatePlans
      summary: Return a list of rate plans.
      parameters:
      - name: propertyId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    post:
      tags:
      - Rate Plan
      operationId: RateplanCreateRatePlan
      summary: Create a rate plan.
      responses:
        '201':
          description: Created
  /rateplan/v1/rate-plans/{id}:
    get:
      tags:
      - Rate Plan
      operationId: RateplanGetRatePlanById
      summary: Return a single rate plan by id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlanModel'
  /rateplan/v1/rate-plans/{id}/rates:
    get:
      tags:
      - Rate Plan
      operationId: RateplanGetRates
      summary: Return the rates of a rate plan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Rate Plan
      operationId: RateplanUpdateRates
      summary: Update the rates of a rate plan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
  /rateplan/v1/services:
    get:
      tags:
      - Rate Plan
      operationId: RateplanGetServices
      summary: Return a list of services.
      responses:
        '200':
          description: OK
    post:
      tags:
      - Rate Plan
      operationId: RateplanCreateService
      summary: Create a service.
      responses:
        '201':
          description: Created
components:
  schemas:
    RatePlanModel:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        description:
          type: string
        isSubjectToCityTax:
          type: boolean
        propertyId:
          type: string
        unitGroupId:
          type: string
        cancellationPolicyId:
          type: string
        noShowPolicyId:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: apaleo uses OAuth 2.0. Obtain a bearer access token from the apaleo identity provider and send it in the Authorization header as 'Bearer {token}'. The client-credentials and authorization-code grants are supported.
      flows:
        clientCredentials:
          tokenUrl: https://identity.apaleo.com/connect/token
          scopes:
            reservations.read: Read reservations and bookings
            reservations.manage: Create and manage reservations and bookings
            setup.read: Read inventory and configuration
            setup.manage: Manage inventory and configuration
            rates.read: Read rate plans and rates
            rates.manage: Manage rate plans and rates
            availability.read: Read availability
            availability.manage: Manage availability
            folios.read: Read folios and finance data
            folios.manage: Manage folios, payments, and invoices
        authorizationCode:
          authorizationUrl: https://identity.apaleo.com/connect/authorize
          tokenUrl: https://identity.apaleo.com/connect/token
          scopes:
            reservations.read: Read reservations and bookings
            reservations.manage: Create and manage reservations and bookings
            setup.read: Read inventory and configuration
            setup.manage: Manage inventory and configuration
            rates.read: Read rate plans and rates
            rates.manage: Manage rate plans and rates
            availability.read: Read availability
            availability.manage: Manage availability
            folios.read: Read folios and finance data
            folios.manage: Manage folios, payments, and invoices
