openapi: 3.0.1
info:
  title: apaleo Platform Availability Settings API
  description: Unified OpenAPI view of the apaleo API-first hotel property-management system. apaleo exposes its capabilities as a set of versioned REST APIs - Booking, Inventory, Rate Plan, Availability, Finance, and Settings - all served from https://api.apaleo.com and secured with OAuth 2.0 bearer tokens issued by the apaleo identity provider. Real-time events are delivered via the Webhook API at https://webhook.apaleo.com.
  termsOfService: https://apaleo.com/terms
  contact:
    name: apaleo Developer Support
    url: https://apaleo.dev
  version: v1
servers:
- url: https://api.apaleo.com
  description: apaleo Core API (Booking, Inventory, Rate Plan, Availability, Finance, Settings)
security:
- oauth2: []
tags:
- name: Settings
  description: Account- and property-level configuration.
paths:
  /settings/v1/city-tax:
    get:
      tags:
      - Settings
      operationId: SettingsGetCityTaxes
      summary: Return the configured city taxes.
      responses:
        '200':
          description: OK
    post:
      tags:
      - Settings
      operationId: SettingsCreateCityTax
      summary: Create a city tax configuration.
      responses:
        '201':
          description: Created
  /settings/v1/market-segments:
    get:
      tags:
      - Settings
      operationId: SettingsGetMarketSegments
      summary: Return a list of market segments.
      responses:
        '200':
          description: OK
    post:
      tags:
      - Settings
      operationId: SettingsCreateMarketSegment
      summary: Create a market segment.
      responses:
        '201':
          description: Created
  /settings/v1/languages:
    get:
      tags:
      - Settings
      operationId: SettingsGetLanguages
      summary: Return the enabled languages of the account.
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: apaleo uses OAuth 2.0. Obtain a bearer access token from the apaleo identity provider and send it in the Authorization header as 'Bearer {token}'. The client-credentials and authorization-code grants are supported.
      flows:
        clientCredentials:
          tokenUrl: https://identity.apaleo.com/connect/token
          scopes:
            reservations.read: Read reservations and bookings
            reservations.manage: Create and manage reservations and bookings
            setup.read: Read inventory and configuration
            setup.manage: Manage inventory and configuration
            rates.read: Read rate plans and rates
            rates.manage: Manage rate plans and rates
            availability.read: Read availability
            availability.manage: Manage availability
            folios.read: Read folios and finance data
            folios.manage: Manage folios, payments, and invoices
        authorizationCode:
          authorizationUrl: https://identity.apaleo.com/connect/authorize
          tokenUrl: https://identity.apaleo.com/connect/token
          scopes:
            reservations.read: Read reservations and bookings
            reservations.manage: Create and manage reservations and bookings
            setup.read: Read inventory and configuration
            setup.manage: Manage inventory and configuration
            rates.read: Read rate plans and rates
            rates.manage: Manage rate plans and rates
            availability.read: Read availability
            availability.manage: Manage availability
            folios.read: Read folios and finance data
            folios.manage: Manage folios, payments, and invoices
